<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njust.mapper.LzTrainModelMapper">
  <resultMap id="BaseResultMap" type="com.njust.model.LzTrainModel">
    <id column="MODEL_TIME" jdbcType="VARCHAR" property="modelTime" />
    <result column="SET_ID" jdbcType="DECIMAL" property="setId" />
    <result column="TRAIN_METHOD" jdbcType="DECIMAL" property="trainMethod" />
    <result column="PROJECT_ID" jdbcType="DECIMAL" property="projectId" />
    <result column="SCHEME_ID" jdbcType="DECIMAL" property="schemeId" />
    <result column="COST_TREE_ID" jdbcType="DECIMAL" property="costTreeId" />
    <result column="COST_ID" jdbcType="DECIMAL" property="costId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    MODEL_TIME, SET_ID, TRAIN_METHOD, PROJECT_ID, SCHEME_ID, COST_TREE_ID, COST_ID
  </sql>
  <select id="selectByExample" parameterType="com.njust.model.LzTrainModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lz_train_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lz_train_model
    where MODEL_TIME = #{modelTime,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from lz_train_model
    where MODEL_TIME = #{modelTime,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.njust.model.LzTrainModelExample">
    delete from lz_train_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njust.model.LzTrainModel">
    insert into lz_train_model (MODEL_TIME, SET_ID, TRAIN_METHOD, 
      PROJECT_ID, SCHEME_ID, COST_TREE_ID, 
      COST_ID)
    values (#{modelTime,jdbcType=VARCHAR}, #{setId,jdbcType=DECIMAL}, #{trainMethod,jdbcType=DECIMAL}, 
      #{projectId,jdbcType=DECIMAL}, #{schemeId,jdbcType=DECIMAL}, #{costTreeId,jdbcType=DECIMAL}, 
      #{costId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.njust.model.LzTrainModel">
    insert into lz_train_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="modelTime != null">
        MODEL_TIME,
      </if>
      <if test="setId != null">
        SET_ID,
      </if>
      <if test="trainMethod != null">
        TRAIN_METHOD,
      </if>
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="schemeId != null">
        SCHEME_ID,
      </if>
      <if test="costTreeId != null">
        COST_TREE_ID,
      </if>
      <if test="costId != null">
        COST_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="modelTime != null">
        #{modelTime,jdbcType=VARCHAR},
      </if>
      <if test="setId != null">
        #{setId,jdbcType=DECIMAL},
      </if>
      <if test="trainMethod != null">
        #{trainMethod,jdbcType=DECIMAL},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=DECIMAL},
      </if>
      <if test="schemeId != null">
        #{schemeId,jdbcType=DECIMAL},
      </if>
      <if test="costTreeId != null">
        #{costTreeId,jdbcType=DECIMAL},
      </if>
      <if test="costId != null">
        #{costId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njust.model.LzTrainModelExample" resultType="java.lang.Long">
    select count(*) from lz_train_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update lz_train_model
    <set>
      <if test="record.modelTime != null">
        MODEL_TIME = #{record.modelTime,jdbcType=VARCHAR},
      </if>
      <if test="record.setId != null">
        SET_ID = #{record.setId,jdbcType=DECIMAL},
      </if>
      <if test="record.trainMethod != null">
        TRAIN_METHOD = #{record.trainMethod,jdbcType=DECIMAL},
      </if>
      <if test="record.projectId != null">
        PROJECT_ID = #{record.projectId,jdbcType=DECIMAL},
      </if>
      <if test="record.schemeId != null">
        SCHEME_ID = #{record.schemeId,jdbcType=DECIMAL},
      </if>
      <if test="record.costTreeId != null">
        COST_TREE_ID = #{record.costTreeId,jdbcType=DECIMAL},
      </if>
      <if test="record.costId != null">
        COST_ID = #{record.costId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update lz_train_model
    set MODEL_TIME = #{record.modelTime,jdbcType=VARCHAR},
      SET_ID = #{record.setId,jdbcType=DECIMAL},
      TRAIN_METHOD = #{record.trainMethod,jdbcType=DECIMAL},
      PROJECT_ID = #{record.projectId,jdbcType=DECIMAL},
      SCHEME_ID = #{record.schemeId,jdbcType=DECIMAL},
      COST_TREE_ID = #{record.costTreeId,jdbcType=DECIMAL},
      COST_ID = #{record.costId,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.njust.model.LzTrainModel">
    update lz_train_model
    <set>
      <if test="setId != null">
        SET_ID = #{setId,jdbcType=DECIMAL},
      </if>
      <if test="trainMethod != null">
        TRAIN_METHOD = #{trainMethod,jdbcType=DECIMAL},
      </if>
      <if test="projectId != null">
        PROJECT_ID = #{projectId,jdbcType=DECIMAL},
      </if>
      <if test="schemeId != null">
        SCHEME_ID = #{schemeId,jdbcType=DECIMAL},
      </if>
      <if test="costTreeId != null">
        COST_TREE_ID = #{costTreeId,jdbcType=DECIMAL},
      </if>
      <if test="costId != null">
        COST_ID = #{costId,jdbcType=DECIMAL},
      </if>
    </set>
    where MODEL_TIME = #{modelTime,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njust.model.LzTrainModel">
    update lz_train_model
    set SET_ID = #{setId,jdbcType=DECIMAL},
      TRAIN_METHOD = #{trainMethod,jdbcType=DECIMAL},
      PROJECT_ID = #{projectId,jdbcType=DECIMAL},
      SCHEME_ID = #{schemeId,jdbcType=DECIMAL},
      COST_TREE_ID = #{costTreeId,jdbcType=DECIMAL},
      COST_ID = #{costId,jdbcType=DECIMAL}
    where MODEL_TIME = #{modelTime,jdbcType=VARCHAR}
  </update>
</mapper>