<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njust.mapper.ZxFItemMapper">
  <resultMap id="BaseResultMap" type="com.njust.model.ZxFItem">
    <result column="F_ITEM_ID" jdbcType="DECIMAL" property="fItemId" />
    <result column="ITEM_ID" jdbcType="DECIMAL" property="itemId" />
    <result column="STA_ID" jdbcType="DECIMAL" property="staId" />
    <result column="ITEM_NUMBER" jdbcType="DECIMAL" property="itemNumber" />
    <result column="VS_ID" jdbcType="DECIMAL" property="vsId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    F_ITEM_ID, ITEM_ID, STA_ID, ITEM_NUMBER, VS_ID
  </sql>
  <select id="selectByExample" parameterType="com.njust.model.ZxFItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zx_f_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.njust.model.ZxFItemExample">
    delete from zx_f_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njust.model.ZxFItem">
    insert into zx_f_item (F_ITEM_ID, ITEM_ID, STA_ID, 
      ITEM_NUMBER, VS_ID)
    values (#{fItemId,jdbcType=DECIMAL}, #{itemId,jdbcType=DECIMAL}, #{staId,jdbcType=DECIMAL}, 
      #{itemNumber,jdbcType=DECIMAL}, #{vsId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.njust.model.ZxFItem">
    insert into zx_f_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fItemId != null">
        F_ITEM_ID,
      </if>
      <if test="itemId != null">
        ITEM_ID,
      </if>
      <if test="staId != null">
        STA_ID,
      </if>
      <if test="itemNumber != null">
        ITEM_NUMBER,
      </if>
      <if test="vsId != null">
        VS_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fItemId != null">
        #{fItemId,jdbcType=DECIMAL},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="staId != null">
        #{staId,jdbcType=DECIMAL},
      </if>
      <if test="itemNumber != null">
        #{itemNumber,jdbcType=DECIMAL},
      </if>
      <if test="vsId != null">
        #{vsId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njust.model.ZxFItemExample" resultType="java.lang.Long">
    select count(*) from zx_f_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zx_f_item
    <set>
      <if test="record.fItemId != null">
        F_ITEM_ID = #{record.fItemId,jdbcType=DECIMAL},
      </if>
      <if test="record.itemId != null">
        ITEM_ID = #{record.itemId,jdbcType=DECIMAL},
      </if>
      <if test="record.staId != null">
        STA_ID = #{record.staId,jdbcType=DECIMAL},
      </if>
      <if test="record.itemNumber != null">
        ITEM_NUMBER = #{record.itemNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.vsId != null">
        VS_ID = #{record.vsId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zx_f_item
    set F_ITEM_ID = #{record.fItemId,jdbcType=DECIMAL},
      ITEM_ID = #{record.itemId,jdbcType=DECIMAL},
      STA_ID = #{record.staId,jdbcType=DECIMAL},
      ITEM_NUMBER = #{record.itemNumber,jdbcType=DECIMAL},
      VS_ID = #{record.vsId,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>